.header{
    
    
    flex:0 0 22%;
    
    display: flex;
    flex-direction: column;
    
    background-color: #242b2e;
    
    
    &__logo-link{
    display: block;
    background-color: white;
    width: 100%;
    text-align: center;
    padding: 3.5rem;
    }
    
    
    &__logo-img{
        
    }
}