$bp-mobile:60em;

$bp-md-desktop: 80em;

$bp-lg-desktop:96.125em;

@mixin mobile-mode{
    @media only screen and (max-width: $bp-mobile){@content};
}

@mixin medium-desktop{
    @media only screen and (min-width: $bp-md-desktop){@content};
}

@mixin large-desktop{
    @media only screen and (min-width: $bp-lg-desktop){@content};
}
 