*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    
    @include medium-desktop{
        font-size: 75%;
    }
    
    @include large-desktop{
        font-size: 87.5%;
    }
}
body{
   
}